body {
  background: black;
}
h3{
  font-weight:bold;
    color: blue;
  text-align: left;
  font-size:16px;
}
h4{
  font-weight: bold;
    color:aquamarine;
  text-align: left;
  font-size: 10px;
  
}
h5{
  color: antiquewhite;
  text-align: left
  
}

p {
  color: black;
  font-size:14px;
  text-align: right;
}
.second{
  float: left;
}
.links{
  text-align: center;margin-bottom: 50px;
}
.third{
  float:left
}
.fourth{
  float: right;
  
}
.fifth{
  float: left;
}
li{
  color: antiquewhite;
}
h1 {
  font-weight: bold;
  color: white;
}

img{
  float: right;
  margin: 10px;
  border-color: white;
  border-width:10px;
  border-style: dotted;
  border-radius:10px;
  height: 250px;
}
  
p{
  color: blue;
  font-size:14px;
  text-align: center;
  
}

a:hover{
  color: black;
  font-size:24px;
  text-decoration-style: dotted;
  }
/* LEARN MORE? link special*/

a:active{
  color: saddlebrown;
  text-decoration-color: white;
  
}
/*basic link style*/
a{
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: white;
}
